{% extends 'base.html' %}
{% load product %}

{% block title %}سبد خرید{% endblock title %}

{% block content %}
<h2>سبد خرید شما</h2>

<table class="cart table table-responsive table-bordered">
  <thead>
    <tr>
      <th scope="col" class="text-center">تصویر</th>
      <th scope="col" class="text-center">محصول</th>
      <th scope="col" class="text-center">تعداد</th>
      <th scope="col" class="text-center">حذف</th>
      <th scope="col" class="text-center">قیمت هر کدام</th>
      <th scope="col" class="text-center">قیمت کل</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart %}
      {% with product=item.product %}
        <tr>
          <td class="order-img text-center">
              <a href="{{ product.get_absolute_url }}">
                <img src="{{ product.image.url }}" alt="" />
              </a>
          </td>
          <td class="text-center">{{ product.name }}</td>
          <td class="text-center">
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
              {% csrf_token %}
              {{ item.update_product_count_form.product_count }}
              {{ item.update_product_count_form.update }}
              <input type="submit" value="آپدیت" />
            </form>
          </td>
          <td class="text-center">
            <a href="{% url 'cart:cart_remove' product.id %}">
              حذف
            </a>
          </td>
          <td class="num text-center">
            {{ item.price|comma }} تومان
          </td>
          <td class="num text-center">
            {{ item.total_price|comma }} تومان
          </td>
        </tr>
      {% endwith %}
    {% endfor %}
    <tr class="total">
      <td>قیمت کل</td>
      <td colspan="4"></td>
      <!-- TODO clear and total count -->
      <td class="num">
        {{ cart.get_total_price|comma }} تومان
      </td>
    </tr>
  </tbody>
</table>
<p class="text-right">
  <a href="{% url 'shop:store' %}" class="button light add-to-cart-btn">
    ادامه دادن به خرید
  </a>
  <a href="{% url 'shop:checkout' %}" class="button light">
    تصویه حساب
  </a>
</p>
{% endblock content %}
