{% extends 'base.html' %}
{% load static %}
{% load product %}

{% block title %}صفحه اصلی{% endblock title %}

{% block content %}
<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav navbar-nav right reverse">
        <li class="active"><a href="#">خانه</a></li>
        <li><a href="#">برترین ها</a></li>
        <li><a href="#">پرفروش ترین ها</a></li>
        <li><a href="#">دسته بندی ها</a></li>
        <li><a href="#">کالای های دیجیتال</a></li>
        <li><a href="#">موبایل های هوشمند</a></li>
        <li><a href="#">لپ تاپ ها</a></li>
      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="{% static 'img/shop01.png' %}" alt="" />
          </div>
          <div class="shop-body">
            <h3>
              مجموعه
              <br />
              لپ تاپ ها
            </h3>
            <a href="#" class="cta-btn">
              خرید کنید
              <i class="fa fa-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="{% static 'img/shop03.png' %}" alt="" />
          </div>
          <div class="shop-body">
            <h3>
              مجموعه
              <br />
              محصولات دیجیتال
            </h3>
            <a href="#" class="cta-btn">
              خرید کنید
              <i class="fa fa-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="{% static 'img/shop02.png' %}" alt="" />
          </div>
          <div class="shop-body">
            <h3>
              مجموعه
              <br />
              موبایل ها
            </h3>
            <a href="#" class="cta-btn">
              خرید کنید
              <i class="fa fa-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- /shop -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">محصولات جدید</h3>
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              <li class="active">
                <a data-toggle="tab" href="#tab1">لپ تاپ ها</a>
              </li>
              <li><a data-toggle="tab" href="#tab1">گوشی ها</a></li>
              <li><a data-toggle="tab" href="#tab1">کالاهای دیجیتال</a></li>
              <li><a data-toggle="tab" href="#tab1">ساعت ها</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /section title -->

      <!-- Products tab & slick -->
      <div class="col-md-12">
        <div class="row">
          <div class="products-tabs">
            <!-- tab -->
            <div id="tab1" class="tab-pane active">
              <div class="products-slick" data-nav="#slick-nav-1">
                {% for product in latest_products %}
                  <!-- product -->
                  <div class="product">
                    <div class="product-img">
                      <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.image.url }}" alt="" />
                      </a>
                      <div class="product-label ltr">
                        <span class="sale">-30%</span>
                        <span class="new">جدید</span>
                      </div>
                    </div>
                    <div class="product-body">
                      <!-- TODO add category to product -->
                      <p class="product-category">دسته بندی</p>
                      <h3 class="product-name">
                        <!-- TODO add slug to product -->
                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                      </h3>
                      <h4 class="product-price">
                        <!-- TODO add discount to product -->
                        <del class="product-old-price">3،000،000 تومان</del>
                        <br>
                        <span>{{ product.price }} تومان</span>
                      </h4>
                      <div class="product-rating">
                        {{ product.get_rating|generate_rate|safe }}
                      </div>
                      <div class="product-btns">
                        <button class="add-to-wishlist">
                          <i class="fa fa-heart-o"></i
                          ><span class="tooltipp">اضافه کردن به علاقه مندی ها</span>
                        </button>
                        <button class="quick-view">
                          <i class="fa fa-eye"></i>
                          <span class="tooltipp">
                            دیدن محصول
                          </span>
                        </button>
                      </div>
                    </div>
                    <div class="add-to-cart">
                      <button class="add-to-cart-btn">
                        <i class="fa fa-shopping-cart"></i>
                         افزودن به سبد خرید
                      </button>
                    </div>
                  </div>
                  <!-- /product -->
                {% endfor %}
              </div>
              <div id="slick-nav-1" class="products-slick-nav"></div>
            </div>
            <!-- /tab -->
          </div>
        </div>
      </div>
      <!-- Products tab & slick -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="hot-deal">
          <ul class="hot-deal-countdown">
            <li>
              <div>
                <h3>02</h3>
                <span>روز</span>
              </div>
            </li>
            <li>
              <div>
                <h3>10</h3>
                <span>ساعت</span>
              </div>
            </li>
            <li>
              <div>
                <h3>34</h3>
                <span>دقیقه</span>
              </div>
            </li>
            <li>
              <div>
                <h3>60</h3>
                <span>ثانیه</span>
              </div>
            </li>
          </ul>
          <h2 class="text-uppercase">پیشنهاد داغ این هفته</h2>
          <p>تا بیش از ۵۰٪ تخفیف</p>
          <a class="primary-btn cta-btn" href="#">همین الان خرید کنید</a>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">پرفروش ترین ها</h3>
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              <li class="active">
                <a data-toggle="tab" href="#tab2">لپ تاپ ها</a>
              </li>
              <li><a data-toggle="tab" href="#tab2">گوشی ها</a></li>
              <li><a data-toggle="tab" href="#tab2">کالاهای دیجیتال</a></li>
              <li><a data-toggle="tab" href="#tab2">ساعت ها</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /section title -->

      <!-- Products tab & slick -->
      <div class="col-md-12">
        <div class="row">
          <div class="products-tabs">
            <!-- tab -->
            <div id="tab2" class="tab-pane fade in active">
              <div class="products-slick" data-nav="#slick-nav-2">
                {% for product in best_selling_products %}
                  <!-- product -->
                  <div class="product">
                    <div class="product-img">
                      <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.image.url }}" alt="" />
                      </a>
                      <div class="product-label ltr">
                        <span class="sale">-15%</span>
                        <span class="new">برتر</span>
                      </div>
                    </div>
                    <div class="product-body">
                      <!-- TODO add category to product -->
                      <p class="product-category">دسته بندی</p>
                      <h3 class="product-name">
                        <!-- TODO add slug to product -->
                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                      </h3>
                      <h4 class="product-price">
                        <!-- TODO add discount to product -->
                        <del class="product-old-price">3،000،000 تومان</del>
                        <br>
                        <span>{{ product.price }} تومان</span>
                      </h4>
                      <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="product-btns">
                        <button class="add-to-wishlist">
                          <i class="fa fa-heart-o"></i
                          ><span class="tooltipp">اضافه کردن به علاقه مندی ها</span>
                        </button>
                        <button class="quick-view">
                          <i class="fa fa-eye"></i>
                          <span class="tooltipp">
                            دیدن محصول
                          </span>
                        </button>
                      </div>
                    </div>
                    <div class="add-to-cart">
                      <button class="add-to-cart-btn">
                        <i class="fa fa-shopping-cart"></i>
                        افزودن به سبد خرید
                      </button>
                    </div>
                </div>
                <!-- /product -->
              {% endfor %}
              </div>
              <div id="slick-nav-2" class="products-slick-nav"></div>
            </div>
            <!-- /tab -->
          </div>
        </div>
      </div>
      <!-- /Products tab & slick -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <div class="section-title">
          <h4 class="title">پرفروش ترین ها</h4>
          <div class="section-nav">
            <div id="slick-nav-3" class="products-slick-nav"></div>
          </div>
        </div>
        
        <div class="products-widget-slick" data-nav="#slick-nav-3">
          {% for products in best_selling_products|chunks:3 %}
            <div>
              {% for product in products %}
                <div class="product-widget">
                  <a href="{{ product.get_absolute_url }}">
                    <div class="product-img">
                      <img src="{{ product.image.url }}" alt="" />
                    </div>
                    <div class="product-body">
                      <p class="product-category">دسته بندی</p>
                      <h3 class="product-name">
                        <a href="{{ product.get_absolute_url }}">
                          {{ product.name }}
                        </a>
                      </h3>
                      <h4 class="product-price">
                        <del class="product-old-price">3،000،000 تومان</del>
                        <span>{{ product.price }} تومان</span>
                      </h4>
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-4 col-xs-6">
        <div class="section-title">
          <h4 class="title">محبوب ترین ها</h4>
          <div class="section-nav">
            <div id="slick-nav-4" class="products-slick-nav"></div>
          </div>
        </div>
        <div class="products-widget-slick" data-nav="#slick-nav-4">
          {% for products in best_selling_products|chunks:3 %}
          <div>
            {% for product in products %}
              <div class="product-widget">
                <a href="{{ product.get_absolute_url }}">
                  <div class="product-img">
                    <img src="{{ product.image.url }}" alt="" />
                  </div>
                  <div class="product-body">
                    <p class="product-category">دسته بندی</p>
                    <h3 class="product-name">
                      <a href="{{ product.get_absolute_url }}">
                        {{ product.name }}
                      </a>
                    </h3>
                    <h4 class="product-price">
                      <del class="product-old-price">3،000،000 تومان</del>
                      <span>{{ product.price }} تومان</span>
                    </h4>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
        </div>
      </div>

      <div class="clearfix visible-sm visible-xs"></div>

      <div class="col-md-4 col-xs-6">
        <div class="section-title">
          <h4 class="title">جدید ترین ها</h4>
          <div class="section-nav">
            <div id="slick-nav-5" class="products-slick-nav"></div>
          </div>
        </div>
        <div class="products-widget-slick" data-nav="#slick-nav-5">
          {% for products in latest_products|chunks:3 %}
            <div>
              {% for product in products %}
                <div class="product-widget">
                  <a href="{{ product.get_absolute_url }}">
                    <div class="product-img">
                      <img src="{{ product.image.url }}" alt="" />
                    </div>
                    <div class="product-body">
                      <p class="product-category">دسته بندی</p>
                      <h3 class="product-name">
                        <a href="{{ product.get_absolute_url }}">
                          {{ product.name }}
                        </a>
                      </h3>
                      <h4 class="product-price">
                        <del class="product-old-price">3،000،000 تومان</del>
                        <span>{{ product.price }} تومان</span>
                      </h4>
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
{% endblock content %}
