{% extends "base.html" %}

{% block title %}Order{% endblock title %}

{% block content %}
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <span class="icon-check_circle display-3 text-success"></span>
        <h2 class="display-3 text-black">Thank you!</h2>
        <p class="lead mb-5">You order was successfully completed.</p>
        <p class="lead mb-5">Your Order Number : {{ order.id }}</p>
        <p>
          <a href="" class="primary-btn order-submit">
            Online Payment
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
