{% extends 'base.html' %}
{% load static %}

{% block title %}{{ product.name}}{% endblock title %}

{% block content %}
<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav navbar-nav right reverse">
        <li class="active"><a href="#">خانه</a></li>
        <li><a href="#">برترین ها</a></li>
        <li><a href="#">پرفروش ترین ها</a></li>
        <li><a href="#">دسته بندی ها</a></li>
        <li><a href="#">کالای های دیجیتال</a></li>
        <li><a href="#">موبایل های هوشمند</a></li>
        <li><a href="#">لپ تاپ ها</a></li>
      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb-tree">
          <li><a href="#">خانه</a></li>
          <li><a href="#">تمام دسته بندی ها</a></li>
          <li><a href="#">تکنولوژی</a></li>
          <li><a href="#">موبایل</a></li>
          <li class="active">{{ product.name }}</li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- Product main img -->
      <div class="col-md-5 col-md-push-2">
        <div id="product-main-img">
          <div class="product-preview">
            <img src="{{ product.image.url }}" alt="" />
          </div>
          {% for productimage in product.productimage_set.all %}
          <div class="product-preview">
            <img src="{{ productimage.image.url }}" alt="" />
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- /Product main img -->

      <!-- Product thumb imgs -->
      <div class="col-md-2 col-md-pull-5">
        <div id="product-imgs">
          <div class="product-preview">
            <img src="{{ product.image.url }}" alt="" />
          </div>
          {% for productimage in product.productimage_set.all %}
          <div class="product-preview">
            <img src="{{ productimage.image.url }}" alt="" />
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- /Product thumb imgs -->

      <!-- Product details -->
      <div class="col-md-5">
        <div class="product-details">
          <h2 class="product-name">{{ product.name }}</h2>
          <div>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <a class="review-link" href="#">۱۰ نظر | افزودن نظر</a>
          </div>
          <div>
            <h3 class="product-price">
              <del class="product-old-price">990.00 تومان</del>
              <span>{{ product.price }} تومان</span>
            </h3>
          </div>
          <p>{{ product.short_description|linebreaks }}</p>

          <div class="product-options">
            <label>
              سایز
              <select class="input-select">
                <option value="0">X</option>
              </select>
            </label>
            <label>
              رنگ
              <select class="input-select">
                <option value="0">قرمز</option>
              </select>
            </label>
          </div>

          <div class="product-options add-to-cart">
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
              <label> تعداد {{ form.product_count }} </label>
              {% csrf_token %}
              <button type="submit" class="add-to-cart-btn">
                <i class="fa fa-shopping-cart"></i>
                افزودن به سبد خرید
              </button>
            </form>
          </div>

          <ul class="product-btns">
            <li>
              <a href="#"
                ><i class="fa fa-heart-o"></i>
                افزودن به علاقه مندی ها
              </a>
            </li>
          </ul>

          <ul class="product-links">
            <li>درسته بندی:</li>
            <li><a href="#">تکنولوژی</a></li>
            <li><a href="#">موبایل</a></li>
          </ul>

          <ul class="product-links">
            <li>اشتراک گذاری:</li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /Product details -->

      <!-- Product tab -->
      <div class="col-md-12">
        <div id="product-tab">
          <!-- product tab nav -->
          <ul class="tab-nav">
            <li class="active">
              <a data-toggle="tab" href="#tab1">توضیحات</a>
            </li>
            <li><a data-toggle="tab" href="#tab2">جزئیات</a></li>
            <li><a data-toggle="tab" href="#tab3">نظرات (3)</a></li>
          </ul>
          <!-- /product tab nav -->

          <!-- product tab content -->
          <div class="tab-content">
            <!-- tab1  -->
            <div id="tab1" class="tab-pane fade in active">
              <div class="row">
                <div class="col-md-12">
                  <p>
                    {{ product.description|safe }}
                  </p>
                </div>
              </div>
            </div>
            <!-- /tab1  -->

            <!-- tab2  -->
            <div id="tab2" class="tab-pane fade in">
              <div class="row">
                <div class="col-md-12">
                  <p>
                    {{ product.details|safe }}
                  </p>
                </div>
              </div>
            </div>
            <!-- /tab2  -->

            <!-- tab3  -->
            <div id="tab3" class="tab-pane fade in">
              <div class="row">
                <!-- Rating -->
                <div class="col-md-3">
                  <div id="rating">
                    <div class="rating-avg">
                      <span>4.5</span>
                      <div class="rating-stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                    <ul class="rating">
                      <li>
                        <div class="rating-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <div class="rating-progress">
                          <div style="width: 80%"></div>
                        </div>
                        <span class="sum">3</span>
                      </li>
                      <li>
                        <div class="rating-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <div class="rating-progress">
                          <div style="width: 60%"></div>
                        </div>
                        <span class="sum">2</span>
                      </li>
                      <li>
                        <div class="rating-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <div class="rating-progress">
                          <div></div>
                        </div>
                        <span class="sum">0</span>
                      </li>
                      <li>
                        <div class="rating-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <div class="rating-progress">
                          <div></div>
                        </div>
                        <span class="sum">0</span>
                      </li>
                      <li>
                        <div class="rating-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <div class="rating-progress">
                          <div></div>
                        </div>
                        <span class="sum">0</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /Rating -->

                <!-- Reviews -->
                <div class="col-md-6">
                  <div id="reviews">
                    <ul class="reviews">
                      <li>
                        <div class="review-heading">
                          <h5 class="name">John</h5>
                          <p class="date">27 DEC 2018, 8:0 PM</p>
                          <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o empty"></i>
                          </div>
                        </div>
                        <div class="review-body">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua
                          </p>
                        </div>
                      </li>
                      <li>
                        <div class="review-heading">
                          <h5 class="name">John</h5>
                          <p class="date">27 DEC 2018, 8:0 PM</p>
                          <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o empty"></i>
                          </div>
                        </div>
                        <div class="review-body">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua
                          </p>
                        </div>
                      </li>
                      <li>
                        <div class="review-heading">
                          <h5 class="name">John</h5>
                          <p class="date">27 DEC 2018, 8:0 PM</p>
                          <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o empty"></i>
                          </div>
                        </div>
                        <div class="review-body">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua
                          </p>
                        </div>
                      </li>
                    </ul>
                    <ul class="reviews-pagination">
                      <li class="active">1</li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li>
                        <a href="#"><i class="fa fa-angle-right"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /Reviews -->

                <!-- Review Form -->
                <div class="col-md-3">
                  <div id="review-form">
                    <form class="review-form">
                      <input
                        class="input"
                        type="text"
                        placeholder="نام شما ..."
                      />
                      <input
                        class="input"
                        type="email"
                        placeholder="ایمیل شما ..."
                      />
                      <textarea
                        class="input"
                        placeholder="نظر شما ..."
                      ></textarea>
                      <div class="input-rating">
                        <span>امتیاز شما: </span>
                        <div class="stars">
                          <input
                            id="star5"
                            name="rating"
                            value="5"
                            type="radio"
                          /><label for="star5"></label>
                          <input
                            id="star4"
                            name="rating"
                            value="4"
                            type="radio"
                          /><label for="star4"></label>
                          <input
                            id="star3"
                            name="rating"
                            value="3"
                            type="radio"
                          /><label for="star3"></label>
                          <input
                            id="star2"
                            name="rating"
                            value="2"
                            type="radio"
                          /><label for="star2"></label>
                          <input
                            id="star1"
                            name="rating"
                            value="1"
                            type="radio"
                          /><label for="star1"></label>
                        </div>
                      </div>
                      <button class="primary-btn">ارسال</button>
                    </form>
                  </div>
                </div>
                <!-- /Review Form -->
              </div>
            </div>
            <!-- /tab3  -->
          </div>
          <!-- /product tab content  -->
        </div>
      </div>
      <!-- /product tab -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- Section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h3 class="title">محصولات مرتبط</h3>
        </div>
      </div>
      {% for product in related_products %}
        <!-- product -->
        <div class="col-md-3 col-xs-6">
          {% include 'shop/product.html' %}
        </div>
        <!-- /product -->
      {% endfor %}
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /Section -->
{% endblock content %}
