{% load product %}
<!-- product -->
<div class="product">
  <div class="product-img">
    <a href="{{ product.get_absolute_url }}" title="{{ product.name }}">
      <img
        src="{{ product.image.url }}"
        alt="{{ product.name }}"
        title="{{ product.name }}"
      />
    </a>
    <div class="product-label ltr">
      <span class="sale"> -30% </span>
      <span class="new">جدید</span>
    </div>
  </div>
  <div class="product-body">
    <!-- TODO add category to product -->
    <p class="product-category">دسته بندی</p>
    <h3 class="product-name">
      <a href="{{ product.get_absolute_url }}" title="{{ product.name }}">
        {{ product.name }}
      </a>
    </h3>
    <h4 class="product-price">
      <!-- TODO add discount to product -->
      <del class="product-old-price">3،000،000 تومان</del>
      <br />
      <span>{{ product.price }} تومان</span>
    </h4>
    <div class="product-rating">
      {{ product.get_rating|generate_rating|safe }}
    </div>
    <div class="product-btns">
      <a
        class="add-to-wishlist"
        href="{% url 'shop:wish' product.id %}?next={{ request.path }}"
      >
        <i class="fa fa-heart-o"></i>
        <span class="tooltipp"> اضافه کردن به علاقه مندی ها </span>
      </a>
      <a class="quick-view" href="{{ product.get_absolute_url }}">
        <i class="fa fa-eye"></i>
        <span class="tooltipp"> دیدن محصول </span>
      </a>
    </div>
  </div>
  <div class="add-to-cart">
    <button class="add-to-cart-btn">
      <i class="fa fa-shopping-cart"></i>
      افزودن به سبد خرید
    </button>
  </div>
</div>
<!-- /product -->
